In [1]:
import pyspark
import os
import requests
import json

In [2]:
myConf = pyspark.SparkConf()
spark = pyspark.sql.SparkSession\
.builder\
.master('local')\
.appName('myApp')\
.config(conf=myConf)\
.getOrCreate()

21/10/23 17:17:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark.sparkContext.parallelize([1,2,3,4,5,6,7], 2).glom().collect()

[[1, 2, 3], [4, 5, 6, 7]]

In [4]:
%%writefile data/ds_spark_wiki.txt
Wikipedia
Apache Spark is an open source cluster computing framework.
아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
Apache Spark Apache Spark Apache Spark Apache Spark
아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
Originally developed at the University of California, Berkeley's AMPLab,
the Spark codebase was later donated to the Apache Software Foundation,
which has maintained it since.
Spark provides an interface for programming entire clusters with
implicit data parallelism and fault-tolerance.

Writing data/ds_spark_wiki.txt

In [6]:
myRdd2 = spark.sparkContext.textFile(os.path.join('data', 'ds_spark_wiki.txt'))
myRdd2.first()

'Wikipedia'

In [7]:
%%writefile ./data/ds_spark_2cols.csv
35, 2
40, 27
12, 38
15, 31
21, 1
14, 19
46, 1
10, 34
28, 3
48, 1
16, 2
30, 3
32, 2
48, 1
31, 2
22, 1
12, 3
39, 29
19, 37
25, 2

Writing ./data/ds_spark_2cols.csv

In [8]:
myRdd4 = spark.sparkContext.textFile(os.path.join('data', 'ds_spark_2cols.csv'))

In [9]:
myList = myRdd4.take(5)
print(type(myList))

<class 'list'>

In [ ]:
# 한글로 된 파일을 글자깨짐현상없이 읽어오기
popRddBin = spark.sparkContext.binaryFiles(os.path.join('data', 'noAddress.csv'))
_my = popRddBin.map(lambda x: x[1].decode('euc-kr'))

In [10]:
celsius = [39.2, 36.5, 37.3, 37.8]
def c2f(c):
    return (float(9) / 5) * c + 32

f = map(c2f, celsius)
print(list(f))

[102.56, 97.7, 99.14, 100.03999999999999]

In [12]:
from functools import reduce
reduce(lambda x, y: x + y, range(1, 101))

5050

In [14]:
nRdd = spark.sparkContext.parallelize([1,2,3,4])
squared = nRdd.map(lambda x: x **2)
print(squared)
print(squared.collect())

PythonRDD[11] at RDD at PythonRDD.scala:53
[1, 4, 9, 16]

In [15]:
myRdd4.take(5)

['35, 2', '40, 27', '12, 38', '15, 31', '21, 1']

In [17]:
myRdd5 = myRdd4.map(lambda line: line.split(','))
myRdd5.take(5)

[['35', ' 2'], ['40', ' 27'], ['12', ' 38'], ['15', ' 31'], ['21', ' 1']]

In [20]:
sentences = myRdd2.map(lambda x:x.split())
sentences.collect()

[['Wikipedia'],
 ['Apache',
  'Spark',
  'is',
  'an',
  'open',
  'source',
  'cluster',
  'computing',
  'framework.'],
 ['아파치', '스파크는', '오픈', '소스', '클러스터', '컴퓨팅', '프레임워크이다.'],
 ['Apache', 'Spark', 'Apache', 'Spark', 'Apache', 'Spark', 'Apache', 'Spark'],
 ['아파치', '스파크', '아파치', '스파크', '아파치', '스파크', '아파치', '스파크'],
 ['Originally',
  'developed',
  'at',
  'the',
  'University',
  'of',
  'California,',
  "Berkeley's",
  'AMPLab,'],
 ['the',
  'Spark',
  'codebase',
  'was',
  'later',
  'donated',
  'to',
  'the',
  'Apache',
  'Software',
  'Foundation,'],
 ['which', 'has', 'maintained', 'it', 'since.'],
 ['Spark',
  'provides',
  'an',
  'interface',
  'for',
  'programming',
  'entire',
  'clusters',
  'with'],
 ['implicit', 'data', 'parallelism', 'and', 'fault-tolerance.']]

In [21]:
myRdd100 = spark.sparkContext.parallelize(range(1, 101))
myRdd100.reduce(lambda subtotal, x: subtotal + x)

5050

In [22]:
myRdd_group = myRdd2.groupBy(lambda x:x[0:2])

for (k, v) in myRdd_group.collect():
    for eachValue in v:
        print('{}: {}'.format(k, eachValue))
    print('-----')

/Users/elplaguister/opt/anaconda3/envs/Analysis/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

Wi: Wikipedia
-----
Ap: Apache Spark is an open source cluster computing framework.
Ap: Apache Spark Apache Spark Apache Spark Apache Spark
-----
아파: 아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.
아파: 아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크
-----
Or: Originally developed at the University of California, Berkeley's AMPLab,
-----
th: the Spark codebase was later donated to the Apache Software Foundation,
-----
wh: which has maintained it since.
-----
Sp: Spark provides an interface for programming entire clusters with
-----
im: implicit data parallelism and fault-tolerance.
-----

In [23]:

_testList=[("Seoul",1),("Seoul",1),("Seoul",1),("Busan",1),("Busan",1),
           ("Seoul",1),("Busan",1),
           ("Seoul",1),("Seoul",1),("Busan",1),("Busan",1)]

In [24]:
_testRdd=spark.sparkContext.parallelize(_testList)

In [26]:
_testRdd.collect()

[('Seoul', 1),
 ('Seoul', 1),
 ('Seoul', 1),
 ('Busan', 1),
 ('Busan', 1),
 ('Seoul', 1),
 ('Busan', 1),
 ('Seoul', 1),
 ('Seoul', 1),
 ('Busan', 1),
 ('Busan', 1)]

In [25]:
_testRdd.groupBy(lambda x:x[0]).collect()

/Users/elplaguister/opt/anaconda3/envs/Analysis/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[('Seoul', <pyspark.resultiterable.ResultIterable at 0x7f7ff3c301c0>),
 ('Busan', <pyspark.resultiterable.ResultIterable at 0x7f7ff3d2cb80>)]

In [27]:
_testRdd.groupBy(lambda x: x[0]).mapValues(list).collect()

/Users/elplaguister/opt/anaconda3/envs/Analysis/lib/python3.8/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

[('Seoul',
  [('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1),
   ('Seoul', 1)]),
 ('Busan',
  [('Busan', 1), ('Busan', 1), ('Busan', 1), ('Busan', 1), ('Busan', 1)])]