# 환경 세팅 및 기본 RDD 생성

In [1]:
import pyspark
spark = pyspark.sql.SparkSession.builder.master('local').appName('i').config(conf=pyspark.SparkConf()).getOrCreate()

21/10/10 23:48:23 WARN Utils: Your hostname, Kritiasui-MacBookAir.local resolves to a loopback address: 127.0.0.1; using 172.30.1.24 instead (on interface en0)
21/10/10 23:48:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
21/10/10 23:48:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
origin = [ 
          ('김하나', 'English', 100.),
          ('김하나', 'Math', 80.), 
          ('임하나', 'English', 70.),
          ('임하나', 'Math', 100.),
          ('김갑돌', 'English', 82.3),
          ('김갑돌', 'Math', 98.5)]
rdd = spark.sparkContext.parallelize(origin)

# 문제

## 문제 1

In [8]:
sumByName = rdd\
.map(lambda ele : (ele[0], ele[2]))\
.combineByKey(lambda value: value,
              lambda x, value: x + value,
              nothing)\
.map(lambda ele : (ele[0], ele[1]))\
.collect()
result(sumByName)

'김하나' 180.0
'임하나' 170.0
'김갑돌' 180.8

## 문제 2

In [5]:
sumByName = rdd\
.map(lambda ele : (ele[1], ele[2]))\
.combineByKey(lambda value: value,
              lambda x, value: x + value,
              nothing)\
.map(lambda ele : (ele[0], ele[1]))\
.collect()
result(sumByName)

'English' 252.3
'Math' 278.5

## 문제 3

In [6]:
sumByName = rdd\
.map(lambda ele : (ele[0], ele[2]))\
.combineByKey(lambda value: (value, 1),
              lambda x, value: (x[0] + value, x[1] + 1),
              nothing)\
.collect()
result(sumByName)

'김하나' (180.0, 2)
'임하나' (170.0, 2)
'김갑돌' (180.8, 2)

## 문제 4

In [7]:
sumByName = rdd\
.map(lambda ele : (ele[0], ele[2]))\
.combineByKey(lambda value: (value, 1),
              lambda x, value: (x[0] + value, x[1] + 1),
              nothing)\
.map(lambda ele : (ele[0], ele[1][0] / ele[1][1]))\
.collect()
result(sumByName)

'김하나' 90.0
'임하나' 85.0
'김갑돌' 90.4

## 구성 함수 선언

In [1]:
def result(_res):
    for _,(name, value) in enumerate(_res):
        print("'{}' {}".format(name, value))
        
def nothing(x, y):
    pass